# Android Studio
*.iml
.idea/
.DS_Store

# Build and local configuration
build/
.gradle/
local.properties

# NDK / CMake
.externalNativeBuild/
.cxx/

# Android Studio specific files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Others
captures/
